node_modules/  
.env  
.DS_Store  
npm-debug.log*
src/routes/old.services.routes.js
src/managers/functionType.ServiceManager.js
src/routes/prectrls.services.routes.js
src/routes/prectrl.bookings.routes.js
src/routes/test.bookings.routes.js
src/routes/prectrls.bookings.routes.js
